.footer {
  display: flex;
  justify-content: space-between;
  margin: 75px 0 20px;
}

.footer div {
  color: #000;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
